body{
    display: flex;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}

.login_principal
{   
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px #000;
    padding: 5px;
    width: 350px;
    background: #dedede;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}

.Registrarse
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px #000;
    padding: 5px;
    width: 400px;
    background: #dedede;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
}